<form [formGroup]="form">
    <span class="ui-float-label">
        <input formControlName="firstName" id="float-input" type="text" size="30" pInputText>
        <label for="float-input">First name</label>
    </span>
    <span class="ui-float-label">
        <input formControlName="lastName" id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Last name</label>
    </span>
    <span class="ui-float-label">
        <input formControlName="email" id="float-input" type="email" size="30" pInputText>
        <label for="float-input">Email</label>
    </span>
    <span class="ui-float-label">
        <input formControlName="phone" id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Phone</label>
    </span>
    <span class="ui-float-label">
        <input formControlName="description" id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Description</label>
    </span>
</form>
<p-button label="save" (onClick)="onSave()" ></p-button>
<p-button label="cancel" (onClick)="onCancel()" class="ui-button-danger" ></p-button>
